# {{ ansible_managed }}

# Please have a backup SSH session to all affected hosts ready when chaning
# this as you may lock yourself out of remote machines when doing stupid
# things here!

Port {{ sshd_port }}
Protocol 2

{% for algo in sshd_host_key_algos %}
HostKey /etc/ssh/ssh_host_{{ algo }}_key
{% endfor %}

KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

LoginGraceTime 120

SyslogFacility AUTH
LogLevel INFO

PermitRootLogin {{ sshd_permit_root_login }}

StrictModes yes
PubkeyAuthentication yes
PasswordAuthentication {{ sshd_password_authentication }}
PermitEmptyPasswords no
ChallengeResponseAuthentication no

PrintMotd no
PrintLastLog yes

TCPKeepAlive yes
AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server

UsePAM yes

X11Forwarding {{ "yes" if sshd_x11_forwarding else "no" }}
UseDNS {{ "yes" if sshd_use_dns else "no" }}

{% if sshd_additional_options %}
{{ sshd_additional_options }}
{% endif -%}
# vim: syntax=sshdconfig
