# {{ ansible_managed }}

ssl = required
ssl_cert = </etc/letsencrypt/live/{{ fqdn }}/fullchain.pem
ssl_key = </etc/letsencrypt/live/{{ fqdn }}/privkey.pem
ssl_min_protocol = {{ dovecot_ssl_min_protocol }}
ssl_prefer_server_ciphers = {{ "yes" if dovecot_prefer_server_ciphers else "no" }}
ssl_cipher_list = '{{ ssl_ciphers }}'
