# {{ ansible_managed }}

<VirtualHost *:443>
  ServerName {{ fqdn }}
  DocumentRoot {{ document_root }}
  ErrorLog ${APACHE_LOG_DIR}/{{ fqdn }}.error.log
  CustomLog ${APACHE_LOG_DIR}/{{ fqdn }}.access.log extended
  SSLEngine on
  SSLCertificateFile /var/lib/acme/live/{{ fqdn }}/fullchain
  SSLCertificateKeyFile /var/lib/acme/live/{{ fqdn }}/privkey
  <IfModule mod_headers.c>
    Header always set X-XSS-Protection "1; mode=block"
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set X-Content-Type-Options "nosniff"
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
  </IfModule>
{% if apache_additional_default_https_vhost_settings != None %}
  {{ apache_additional_default_https_vhost_settings }}
{% endif %}
</VirtualHost>

# vim: syntax=apache
