# {{ ansible_managed }}

<IfModule mod_ssl.c>
  <VirtualHost *:443>
    ServerName {{ fqdn }}
    DocumentRoot {{ document_root }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
    SSLEngine on
    SSLCertificateFile /var/lib/acme/live/{{ fqdn }}/fullchain
    SSLCertificateKeyFile /var/lib/acme/live/{{ fqdn }}/privkey
    SSLProtocol {{ apache_ssl_protos }}
    SSLHonorCipherOrder On
    SSLCipherSuite '{{ ssl_ciphers }}'
    <IfModule mod_headers.c>
      Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
      Header always set X-XSS-Protection "1; mode=block"
      Header always set X-Frame-Options "SAMEORIGIN"
      Header always set X-Content-Type-Options "nosniff"
    </IfModule>
{% if apache_additional_default_https_vhost_settings != None %}
  {{ apache_additional_default_https_vhost_settings }}
{% endif %}
  </VirtualHost>
</IfModule>

# vim: syntax=apache
