<IfModule mod_ssl.c>
  SSLCipherSuite {{ ssl_ciphers_tls12 }}
  SSLCipherSuite TLSv1.3 {{ ssl_ciphers_tls13 }}
  SSLHonorCipherOrder On
  SSLOpenSSLConfCmd ECDHParameters secp384r1
  SSLOpenSSLConfCmd Curves secp384r1
  SSLUseStapling off
</IfModule>

# vim: syntax=apache
